@import url(http://fonts.googleapis.com/css?family=Average|Fjalla+One);

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

body {
  background-color: #f9f9f9;
  border-top: 4px solid #db4c3f;
}

.content-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 2rem;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}


hr {
    display: block;
    width: 65%;
    height: 1px;
    border: 0;
    border-top: 1px solid #db4c3f;
    margin: 3rem auto;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}


/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

h1 {
  font-size: 1.35rem;
  font-family: 'Fjalla One', sans-serif;
}

h1,
p {
  text-align: center;
}

p {
  color: #a3a3a3;
  font-family: 'Average', serif;
  margin-left: 7rem;
  margin-right: 7rem;
}

a {
  color: #222;
}

img.me {
  display: block;
  width: 156px;
  height: auto;
  margin: 2rem auto;
}

div.brands {
  background-image: url(../img/logos/brand-logos.svg);
  background-repeat: no-repeat;
  display: block;
  margin: 0 auto;
  width: 550px;
  height: 73px;
}

footer {
  position: relative;
  height: 8rem;
  text-align: center;
}

footer > p {
  position: absolute;
  width: 100%;
  bottom: 20px;
  font-size: 0.75rem;
  margin-left: 0;
  margin-right: 0;
}

@media only screen and (max-width: 630px) {

  p {
    margin-left: 0;
    margin-right: 0;
  }

  div.brands {
    background-image: url(../img/logos/brand-logos-2up.svg);
    width: 195px;
    height: 120px;
  }

}
