[submodule "/Users/filip.grace/Projects/filbot.github.io/themes/chicago7"]
	path = /Users/filip.grace/Projects/filbot.github.io/themes/chicago7
	url = https://github.com/akopdev/hugo-theme-chicago7.git
