</div>
<footer>
    <img class="circle-img" src="{{ site.url }}/assets/images/me.png">
    <p>
        Hi, my name is Filip. I'm a San Fracisco web developer working with a couple of my friends on building a startup. When I'm not doing that, I'm working on contract work and tyring to stay up on all the goings on in tech which sometimes feels like a full time job.
    </p>
    <div class="social-links">
        <a href="http://www.linkedin.com/pub/filip-adamczyk/6/5b0/125/"><span class="linkedin">&#62232;</span></a>
        <a href="https://github.com/filbot"><span class="github">&#62208;</span></a>
        <a href="https://twitter.com/filipadamczyk"><span class="twitter">&#62217;</span></a>
    </div>
</footer>
</body>
</html>