@use "../core/settings" as *;

.project-card {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--space-md);
  max-width: 32rem;
  margin-inline: auto;
  margin-bottom: var(#{$css-var-prefix}block-spacing-vertical);

  @media (min-width: 576px) {
    grid-template-columns: 1fr 1fr;
    align-items: start;
  }
}

.project-card__image {
  overflow: hidden;
  border-radius: var(#{$css-var-prefix}border-radius);
  border: 0.1rem solid;
  box-shadow: 2px 2px 0px black;
  aspect-ratio: 3 / 2;
  background: var(#{$css-var-prefix}muted-border-color);

  a {
    display: block;
    height: 100%;
  }

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.project-card__body {
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);

  h3 {
    margin-top: 0;
    margin-bottom: 0;
    #{$css-var-prefix}font-size: var(--text-1);

    a {
      text-decoration: none;
    }
  }

  p {
    color: var(#{$css-var-prefix}muted-color);
    font-size: var(--text--1);
    margin-bottom: 0;
  }
}
