<footer class="footer" style="border-top: none;">
    {{ if ne .Page.Title "About" }}
    <nav aria-label="Main navigation" style="justify-content: center;">
        <ul style="display: flex; justify-content: center; list-style: none; padding: 0; margin: 0;">
            {{ range .Site.Menus.header.ByWeight }}
            <li><a href="{{ .URL | relURL }}">{{- .Name -}}</a></li>
            {{ end }}
        </ul>
    </nav>
    {{ end }}
    {{ $icons := dict
      "github" "github.svg"
      "feed" "feed.svg"
      "instagram" "instagram.svg"
      "linkedin" "linkedin.svg"
    }}
    {{ with site.Params.social }}
    <nav class="social">
    <ul>
    {{ range $key, $icon := $icons }}
    {{ $url := index site.Params.social $key }}
      {{ with $url }}
        <li>
          <a href="{{ . }}" target="_blank" rel="noopener noreferrer">
            {{ $svgPath := printf "static/icons/%s" $icon }}
            {{ readFile $svgPath | safeHTML }}
          </a>
        </li>
      {{ end }}
    {{ end }}
    </ul>
    </nav>
    {{ end }}
    <p>
        &copy; {{ now.Year }} {{ .Site.Params.author }}
    </p>
</footer>
