{{ define "main" }}
{{ partial "profile.html" . }}

<div id="list-page">
    {{ $pages := where .Site.RegularPages "Type" "!=" "about" }}
    {{ $paginator := .Paginate ($pages) }}
    {{ range $paginator.Pages }}
        {{ $page := . }}
        <a href="{{ .RelPermalink }}" class="post-card">
          {{- with .Params.cover -}}
            {{- $cover := . -}}
            {{- if strings.HasPrefix $cover "/" -}}
              <img class="post-card__image" src="{{ $cover }}" alt="{{ $page.Title }}" loading="lazy">
            {{- else -}}
              {{- with $page.Resources.GetMatch $cover -}}
                {{- $thumb := .Fill "200x200 webp" -}}
                <img class="post-card__image" src="{{ $thumb.RelPermalink }}" alt="{{ $page.Title }}" loading="lazy" width="{{ $thumb.Width }}" height="{{ $thumb.Height }}">
              {{- end -}}
            {{- end -}}
          {{- end -}}
          <div class="post-card__body">
            <time class="post-card__date" datetime="{{ $page.PublishDate }}">{{ $page.PublishDate.Format "Jan 2, 2006" }}</time>
            <h2 class="post-card__title">{{ $page.Title }}</h2>
            {{ with $page.Params.description }}
              <p class="post-card__description">{{ . | plainify | htmlUnescape }}</p>
            {{ end }}
          </div>
        </a>
    {{ end }}

    {{ if or ($paginator.HasPrev) ($paginator.HasNext) }}
        <div class="pagination">
          {{ if $paginator.HasPrev }}
              <span class="prev">
                  <a href="{{.Paginator.Prev.URL}}">
                      <span class="arrow">←</span> {{ with .Site.Params.newerPosts }}{{ . }}{{ else }}{{ i18n "postsNewer" }}{{ end }}
                  </a>
            </span>
          {{ end }}

          {{ if $paginator.HasNext }}
              <span class="next">
                  <a href="{{.Paginator.Next.URL}}">
                      {{ with .Site.Params.olderPosts }}{{ . }}{{ else }}{{ i18n "postsOlder" }}{{ end }} <span class="arrow">→</span>
                  </a>
              </span>
          {{ end }}
        </div>
    {{ end }}

</div>
{{ end }}
